.nextra-banner-container {
    background-color: white !important;
    color: black !important;
    margin: .25rem 0 .25rem 0;
}
.nextra-banner-container img{
    margin-right: .5rem;
}
.nextra-nav-container-blur {
    background-color: #9d0000 !important;
}
input{
    --tw-bg-opacity: .6 !important;
    background-color: rgba(255,255,255,var(--tw-bg-opacity)) !important;
}
input::placeholder {
    color: rgb(0, 0, 0) !important;
}
main h1 {
    font-family: var(--font-merriweather);
    font-style: italic;
    text-align: center;
    color: #9d0000 !important;
}
main h2 {
    font-family: var(--font-ptSerif);
    text-align: center;
    border: none;
}
main p {
    font-family: var(--font-ptSerif);
    font-size: 1.2rem;
    line-height: 2.2rem !important;
}
.title-imprint {
    margin: auto;
}

.four-dot {
    display: inline;
    margin-right: .3rem;
}

blockquote {
    border: none;
}

ol li::marker {
    font-family: var(--font-ptSerif);
    font-weight: bolder;
}

.nextra-scrollbar ul li a {
    font-family: var(--font-ptSerif);
}
.nextra-scrollbar ul li a:current {
    color: #9d0000;
}
.nextra-sidebar-container {
    min-width: 21rem;
}
.nextra-sidebar-container li {
    min-height: 25rem;
}

.calendar-wrapper {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
    margin-left: 2rem;
    gap: 1rem .5rem;
}

.calendar-date {
    color: #9d0000;
    border: 1px solid #9d0000;
    border-radius: .2rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: .2rem .6rem .2rem .6rem;
    min-width: 14.2rem;
    margin-bottom: 1rem;/* Separate each date button onto its own line */
}
.container {
    text-align: center;
    }
    .toggle-switch {
    position: relative;
    width: 75px;
    display: inline-block;
    text-align: left;
    top: 8px;
    }
    .checkbox {
    display: none;
    }
    .label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
    }
    .inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    }
    .inner:before,
    .inner:after {
    float: left;
    width: 50%;
    height: 36px;
    padding: 0;
    line-height: 36px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    }
    .inner:before {
    content: "+13";
    padding-left: 10px;
    background-color: rgb(0, 112, 37);
    color: #fff;
    }
    .inner:after {
    content: "N.S.";
    padding-right: 10px;
    background-color: rgb(179, 179, 179);
    color: #fff;
    text-align: right;
    }
    .switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    }
    .checkbox:checked + .label .inner {
    margin-left: 0;
    }
    .checkbox:checked + .label .switch {
    right: 0px;
    }
    
:is(html[class~=dark] .nextra-banner-container) {
    --tw-bg-opacity: .2 !important;
    background-color: rgba(255,255,255,var(--tw-bg-opacity)) !important;
}
:is(html[class~=dark] .nextra-banner-container a ) {
    color: white;
}
:is(html[class~=dark] .nextra-banner-container a img ) {
    display: none !important;
}
:is(html[class~=dark] input) {
    --tw-bg-opacity: .2 !important;
    background-color: rgba(255,255,255,var(--tw-bg-opacity)) !important;
}