.nextra-banner-container {
    background-color: white !important;
    color: black !important;
    margin: .25rem 0 .25rem 0;
}
.nextra-banner-container img{
    margin-right: .5rem;
}
.nextra-nav-container-blur {
    background-color: #9d0000 !important;
}
input{
    --tw-bg-opacity: .6 !important;
    background-color: rgba(255,255,255,var(--tw-bg-opacity)) !important;
}
input::placeholder {
    color: rgb(0, 0, 0) !important;
}
.nextra-menu-mobile ul {
    flex-direction: row;
    flex-wrap: wrap;
}
.nextra-menu-mobile .react-datepicker{
    display: none;
}
.nextra-menu-mobile .calendar-wrapper{
    margin-left: 0;
}
.nextra-menu-mobile li li {
    width: calc(100% / 8);
}
.nextra-menu-mobile li li a {
    margin: auto;
}
.nextra-menu-mobile li li li{
    display: none;
}
.running-head {
    display: flex;
    margin-top: .3rem;
}
.running-head-date {
    color: crimson;
    font-size: .8rem;
    text-align: center;
    font-family: var(--font-merriweather);
    margin-bottom: 2rem;
    width: 18rem;
}
.running-decoration {
    margin-top: .2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Ctext x='0' y='10' fill='crimson'%3E~%3C/text%3E%3C/svg%3E");
    background-repeat: repeat-x;
    width: 100%;
}
main h1 {
    font-family: var(--font-merriweather);
    font-style: italic;
    text-align: center;
    color: crimson !important;
}
main h2 {
    font-family: var(--font-ptSerif);
    text-align: center;
    border: none;
}
main p {
    font-family: var(--font-ptSerif);
    font-size: 1.2rem;
    line-height: 2.2rem !important;
}
.title-imprint {
    margin: auto;
}

.four-dot {
    display: inline;
    margin-right: .3rem;
}

blockquote {
    border: none;
}

ol li::marker {
    font-family: var(--font-ptSerif);
    font-weight: bolder;
}
.nextra-scrollbar ul li a {
    font-family: var(--font-ptSerif);
}
.nextra-scrollbar ul li a:current {
    color: #9d0000;
}
.calendar-wrapper {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
    gap: 1rem .5rem;
}

.calendar-date {
    color: #9d0000;
    border: 1px solid #9d0000;
    border-radius: .2rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: .2rem .6rem .2rem .6rem;
    min-width: 14.2rem;
    margin-bottom: 1rem;/* Separate each date button onto its own line */
}
.container {
    text-align: center;
    }
    .toggle-switch {
    position: relative;
    width: 75px;
    display: inline-block;
    text-align: left;
    top: 8px;
    margin-bottom: .8rem;
    }
    .checkbox {
    display: none;
    }
    .label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
    }
    .inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.32s ease-in 0s;
    }
    .inner:before,
    .inner:after {
    float: left;
    width: 50%;
    height: 36px;
    padding: 0;
    line-height: 36px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    }
    .inner:before {
    content: "+13";
    padding-left: 10px;
    background-color: rgb(99, 0, 0);
    color: #fff;
    }
    .inner:after {
    content: "N.S.";
    padding-right: 10px;
    background-color: rgb(88, 32, 32);
    color: #fff;
    text-align: right;
    }
    .switch {
    display: block;
    width: 25px;
    margin: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    }
    .checkbox:checked + .label .inner {
    margin-left: 0;
    }
    .checkbox:checked + .label .switch {
    right: 0px;
    }
.react-datepicker__header {
    background-color: white !important;
}
.react-datepicker__day--holidays {
    background-color: white !important;
    color: black !important;
}
.react-datepicker__day--holidays:hover {
    background: #f0f0f0 !important;
}
.react-datepicker__day--selected {
    border: 1px solid lightgray !important;
    background-color: #f0f0f0 !important;
    color: black !important;
    
}
footer {
    background-color: #9d0000 !important;
    color: white;
}
footer #copyright {
    color: white;
    width: 100%;
}
#footer-links {
    display: flex;
    margin-right: 20px;
    }
    
    #footer-facebook img, #footer-insta img, #footer-youtube img, #footer-linkedin img {
    display: inline;
    height: 20px;
    margin-top: 5px;
    padding: 0 5px 0 5px;
    }
    
    #footer-facebook img:hover, #footer-insta img:hover, #footer-youtube img:hover, #footer-linkedin img:hover {
    opacity: .75;
    }
:is(html[class~=dark] .nextra-banner-container) {
    --tw-bg-opacity: .2 !important;
    background-color: rgba(255,255,255,var(--tw-bg-opacity)) !important;
}
:is(html[class~=dark] .nextra-banner-container a ) {
    color: white;
}
:is(html[class~=dark] .nextra-banner-container a img ) {
    display: none !important;
}
:is(html[class~=dark] input) {
    --tw-bg-opacity: .2 !important;
    background-color: rgba(255,255,255,var(--tw-bg-opacity)) !important;
}
@media screen and (max-width: 940px) {
    main {
        padding: 1rem .8rem 0 1rem !important;
    }
    blockquote {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
}
@media screen and (min-width: 767px) {
    .nextra-sidebar-container {
        display: none !important;
    }
    .nextra-toc {
        display: block !important;
        width: 17rem !important;
    }
}
@media screen and (max-width: 640px){
    footer #copyright {
        width: 148px;
    }
}